{% extends 'base.html.twig' %}

{% block title %}Ajouter un parcours{% endblock %}

{% block main %}
    <div class="container">
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
        </div>
        <div class="form-group">
            {{ form_label(form.url) }}
            {{ form_widget(form.url) }}
        </div>
        <div class="form-group">
            {{ form_label(form.imageFile) }}
            {{ form_widget(form.imageFile) }}
        </div>
        <input type="submit">
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'.tinymce' });</script>
{% endblock %}
