{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block main %}
    <div id="main">
        <div class="inner">
            <header>
                <h1>Liens utiles</h1>
            </header>
            <div class="flash_messages">
                {% for message in app.flashes('add_path') %}
                    <div class="flash-notice alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('add_project') %}
                    <div class="flash-notice alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('add_link') %}
                    <div class="flash-notice alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
            <section class="tiles">
                {% for path in paths %}
                <article class="{{ "style%s"|format(path.id) }}">
                    <span class="image">
                        <img src="{{ app.request.server.get('BASE') ~ vich_uploader_asset(path,'imageFile') }}">
                    </span>
                    <a href="{{ path('path', {'path_id': path.id}) }}">
                        <h2>{{ path.name }}</h2>
                    </a>
                </article>
                {% endfor %}
            </section>
        </div>
    </div>
{% endblock %}

