{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block main %}
    <div id="main">
        <div class="inner">
            <header>
                <h1>Liens utiles</h1>
            </header>
            <section class="tiles">
                {% for path in paths %}
                <article class="{{ "style%s"|format(path.id) }}">
                    <span class="image">
                        <img src="{{ app.request.server.get('BASE') ~ vich_uploader_asset(path,'imageFile') }}">
                    </span>
                    <a href="{{ path('path', {'path_id': path.id}) }}">
                        <h2>{{ path.name }}</h2>
                        <div class="content">
                            <p>{{ path.description }}</p>
                        </div>
                    </a>
                </article>
                {% endfor %}
            </section>
        </div>
    </div>
{% endblock %}

