{% extends 'base.html.twig' %}

{% block title %}Parcours{% endblock %}
{% block main %}
<div id="main">
    <div class="inner">
        <div class="description">
            <div class="hdescription">
                <h1><a href="{{ path.url }}" target="_blank">Parcours {{ path.name }}</h1>
                <div><img src="{{ app.request.server.get('BASE') ~ vich_uploader_asset(path,'imageFile') }}"></div>
            </div>
            <a href="{{ path('homepage') }}">Retour à l'accueil</a>
            <div class="path_description">
                {{ path.description|raw }}
            </div>
        </div>
        {% for project in projects %}
        <div class="block_course_project">
            <div class="block_project">
                <span class="image main"><img src="{{ app.request.server.get('BASE') ~ vich_uploader_asset(project,'imageFile') }}"></span>
                <div class="content_project">
                    <h2>Projet - {{ project.name }}</h2>
                    <p><a href="{{ project.url }}" target="_blank">Lien vers l'énoncé</a></p>
                    <button type="button" class="btn btn-secondary btn-sm"><a href="{{ path('project', {'project_id': project.id}) }}" target="_blank">Liens utiles</a></button>
                </div>
            </div>
        </div>
        <br>
        {% endfor %}
        <a href="{{ path('homepage') }}">Retour à l'accueil</a>
    </div>
</div>
{% endblock %}
